@import "../utils/styles.scss";

@keyframes animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about-me {
  @include margin;
  padding-top: 180px;
  position: relative;
}

.about-me__header {
  font-size: 70px;
  font-weight: 900;
  margin: 0 0 180px;
  line-height: 1.2;
}

.about-me__span {
  color: $pink;
  text-shadow: 5px 5px 5px rgb(130, 130, 130);
}

.about-me__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
  border-bottom: $pink 8px double;
  border-top: $pink 8px double;
}

.role {
  animation: animation 5s forwards infinite;
  animation-delay: 2.5s;
}

.about-me__stack {
  @include list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin: 0 auto 60px 0;
  max-width: 750px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.about-me__subtitle {
  @include bubble;
  padding: 9px 13px;
  color: $green;
  background-color: $pink;
  border: 3px $green double;
}

.about-me__technology {
  @include bubble;
  text-decoration: none;
  color: $pink;
  background-color: $green;
  z-index: 5;
}

.about-me__portrait {
  width: 380px;
  margin-right: 80px;
  margin-top: 40px;
}

.about-me__bio {
  width: 600px;
  text-align: justify;
  font-weight: 400;
}

.about-me__image {
  height: 250px;
  position: absolute;
  right: 40px;
  bottom: -20px;
  z-index: 1;
}

@media screen and (max-width: 1279px) {
  .about-me__header {
    font-size: 65px;
  }
  .about-me__image {
    height: 250px;
    right: 25px;
    bottom: -20px;
  }

  .about-me__stack {
    max-width: 600px;
  }
}

@media screen and (max-width: 1023px) {
  .about-me {
    padding-top: 150px;
  }

  .about-me__header {
    font-size: 56px;
    margin-bottom: 80px;
  }
  .about-me__image {
    display: none;
  }

  .about-me__stack {
    max-width: 100%;
  }

  .about-me__portrait {
    width: 300px;
    margin-right: 40px;
  }

  .about-me__bio {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
    padding-top: 130px;
  }

  .about-me__header {
    font-size: 23px;
    margin-bottom: 30px;
  }

  .about-me__info {
    flex-direction: column;
    border-top: none;
    margin-bottom: 40px;
  }

  .about-me__portrait {
    width: 220px;
    margin: 0 0 20px 0;
    transform: scale(-1, 1);
    align-self: flex-end;
    border-bottom: $pink 8px double;
  }

  .about-me__bio {
    margin: 0;
    width: 100%;
    font-size: 14px;
    padding-bottom: 20px;
  }

  .about-me__subtitle {
    padding: 5px 9px;
    color: $green;
    background-color: $pink;
    border: 3px $green double;
  }

  .about-me__stack {
    gap: 9px;
    margin: 0 auto 30px 0;
  }

  .about-me__span {
    color: $pink;
    text-shadow: 3px 3px 3px rgb(130, 130, 130);
  }
}
