@import "../utils/styles.scss";

.contacts {
  @include margin;
  @include padding-top;
  margin-bottom: 0;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__header {
  @include section-header;
  margin-bottom: 90px;
  align-self: flex-start;
}

.contacts__text {
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.7;
  font-size: 20px;
  font-weight: 400;

  &:last-of-type {
    margin-bottom: 15px;
  }
}

.contacts__list {
  @include list;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $green;
  text-decoration: none;
  margin-right: 15px;
  transition: $transition;
  width: fit-content;
  font-weight: 400;
  font-size: 18px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.5;
  }
}

.social-media__logo {
  height: 22px;
  margin-right: 5px;
}

.contacts__button {
  @include button;
  font-size: 18px;
  margin-bottom: 60px;
}

.contacts__span {
  text-shadow: 0 5px 0 $pink;
}

@media screen and (max-width: 1279px) {
  .contacts {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .contacts {
    padding-bottom: 200px;
  }

  .contacts__list {
    flex-direction: column;
    gap: 25px;
  }

  .contacts__button {
  margin-bottom: 100px;
}

  .contacts__text {
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  .social-media {
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    padding-bottom: 100px;
  }

  .contacts__text {
    font-size: 18px;
  }

  .social-media {
    font-size: 18px;
  }

  .contacts__button {
    margin-bottom: 50px;
  }
}
