@import "../utils/styles.scss";

.portfolio {
  @include margin;
  @include padding-top;
}

.portfolio__header {
  @include section-header;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 120px;
  padding-bottom: 70px;
  border-bottom: dotted 3px $pink;
  margin-bottom: 70px;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.project__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin: 0 0 30px;
}

.project__name {
  color: $pink;
  text-shadow: 5px 5px 5px rgb(130, 130, 130);
  font-size: 36px;
  margin: 0;
  padding-right: 20px;
  border-right: 8px solid $pink;
}

.project__description {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 46px;
}

.project__stack {
  @include list;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.project__technology {
  @include bubble;
  background-color: rgba(1, 1, 1, 0.1);
}

.project__type {
  @include bubble;
  background-color: #0a5448;
  color: rgb(225, 225, 225);
}

.project__links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.project-link {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $green;
  transition: $transition;

  &:hover {
    opacity: 0.4;
  }
}

.project-link__logo {
  height: 30px;
  filter: invert(22%) sepia(98%) saturate(365%) hue-rotate(121deg)
    brightness(98%) contrast(97%);
}

.project__image {
  height: 250px;
}

.project_view_reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1279px) {
  .project {
    column-gap: 70px;
  }

  .project__image {
    height: 200px;
  }
}

@media screen and (max-width: 1023px) {
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 120px;
  }

  .project__info {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project__image {
    height: 300px;
  }

  .project__header {
    flex-direction: column;
    gap: 20px;
  }

  .project__name {
    border: none;
    padding-right: 0;
  }

  .project__description {
    text-align: center;
  }

  .project__stack {
    justify-content: center;
    gap: 9px;
  }

  .project__links {
    gap: 20px;
  }

  .project-link {
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .project {
    margin-bottom: 50px;
    padding-bottom: 50px;
  }

  .project__info {
    margin-bottom: 40px;
  }

  .project__image {
    height: 150px;
  }

  .project__name {
    font-size: 24px;
    text-shadow: 3px 3px 3px rgb(130, 130, 130);
  }

  .project__description {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .project__header {
    margin: 0 0 20px;
  }
}
